{% extends "base.html" %}

{% block title %}
  Customer list
{% endblock title %}
{% block content %}
  <h1>This is customer list </h1>
  {% for i in customer  %}
    <ol>{{i.customer_name}}</ol>
  {% endfor %}
{% endblock content %}