{% extends "base.html" %}

{% block title %}
  Hotel list
{% endblock title %}
{% block content %}
      <h1>This is Hotel list : </h1>
      <ol>
          {% for i in hotels %}
            <li>{{i.hotel_name}} hotel in {{i.hotel_city}}</li>
          {% endfor %}
      </ol>            
{% endblock content %}