{% extends "base.html" %}

{% block title %}
  Reservations
{% endblock title %}
{% block content %}
 {% for i in reservation  %}
   <li>Customer name :<strong>{{i.customer.customer_name}}</strong>   in <strong>{{i.hotel.hotel_name}}</strong> hotel <br>
    from : {{i.start_time}} to {{i.end_time}}</li>
 {% endfor %} 
{% endblock content %}